$highlighted: #686efa;
.info {
  background-color: #1f2940  !important;
  /*background: rgba(255, 255, 255, 0.1) !important;*/
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 13%;
  margin-right: 13%;
  max-width: 100vw !important;
}

.Title {
  font-size: 20px;
  font-weight: 600;
  color: $highlighted;
  text-decoration: none;
  transition: color 0.3s;
}

.Title:hover {
  color:$highlighted;
  /*text-decoration: underline;*/
  transition: color 0.3s;
}
.url {
  font-size: 15px;
  color:rgb(187, 195, 201);
  text-decoration: none;
}
.url:hover {
  color:aliceblue;
}

.preview {
  font-size: 15px;
}

