.suggestions-list {
  position: absolute;
  min-width: 220px;
  //width: 50%;
  //max-width: 80%;
  //margin-top: -10px !important;
  //left: 50%;
  top: 60px;
  // z-index: 1;
  //transform: translateX(-50%);
  //background-color: #141b2d;
  color: aliceblue;
  //display: flex;
  align-items: center;
  //flex-direction: column;
  justify-content: center;
  border-top: none !important;
  border: 3px solid aliceblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.suggestion-item {
  width: 100%;
  height: 40px;
  //margin-top: -1px;
  padding: 2px 0px;
  font-size: 1rem;
  border-top: 1px solid #9295f3a4;
  background-color: transparent;
  text-align: center !important;
  z-index: 100 !important;
  cursor: pointer;
}

.suggestion-item-res {
  width: 100%;
  height: 40px;
  //margin-top: -5px;
  padding: 2px 0px;
  font-size: 1rem;
  border-top: 1px solid #9295f3a4;
  background-color: transparent;
  text-align: center !important;
  z-index: 100 !important;
  cursor: pointer;
}

.suggestion-item:hover,
.suggestion-item-res:hover {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #fff;
  transition: all 0.15s linear;
  cursor: pointer !important;
  z-index: 105 !important;
  position: relative;
}

#suggestion-p {
  //text-align: center;
  line-height: 30px;
}
.suggestion-item .fa-trash {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.suggestion-item .fa-trash:hover {
  font-size: 1.1rem;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.suggestion-item-res .fa-trash {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.suggestion-item-res .fa-trash:hover {
  font-size: 1.1rem;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
