.suggestions-list {
  position: absolute;
  min-width: 220px;
  //width: 50%;
  //max-width: 80%;
  //margin-top: -10px !important;
  //left: 50%;
  top: 60px;
  //transform: translateX(-50%);
  //background-color: #141b2d;
  color: aliceblue;
  //display: flex;
  align-items: center;
  //flex-direction: column;
  justify-content: center;
  border-top: none !important;
  border: 3px solid aliceblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.suggestion-item {
  width: 100%;
  height: 40px;
  //margin-top: -1px;
  padding: 2px 0px;
  font-size: 1rem;
  border-top: 1px solid #9295f3a4;
  background-color: transparent;
  text-align: center !important;
  z-index: 100 !important;
  cursor: pointer;
}

.suggestion-item-res {
  width: 100%;
  height: 40px;
  //margin-top: -5px;
  padding: 2px 0px;
  font-size: 1rem;
  border-top: 1px solid #9295f3a4;
  background-color: transparent;
  text-align: center !important;
  z-index: 100 !important;
  cursor: pointer;
}

.suggestion-item:hover,
.suggestion-item-res:hover {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #fff;
  transition: all 0.15s linear;
  cursor: pointer !important;
  z-index: 105 !important;
  position: relative;
}

#suggestion-p {
  //text-align: center;
  line-height: 30px;
}
