body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("./galaxy1.jpg");
  background-repeat: repeat-y;
}

@font-face {
  font-family: "Sirukota";
  src: local("Sirukota"), url(./fonts/Sirukota.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #1f2940;
  border-left: 3px solid #141b2d;
  border-right: 3px solid #141b2d;
}

::-webkit-scrollbar-thumb {
  background-color: #9295f3;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #686efa,
    0 0 70px #686efa;
}

.center-me {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 0 !important;
}

.loading-gif {
  width: 150px !important;
  height: 120px !important;
  color: #141b2d;
}

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate {
  animation: rotation 2s;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.linear {
  animation-timing-function: linear !important;
}
.infinite {
  animation-iteration-count: infinite !important;
}
.rotate-image {
  animation: rotation 2s linear infinite !important;
}

/*
::-webkit-scrollbar-thumb:hover {
  background-color: #484dcf; 
}*/
